 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --default-color: rgb(33, 160, 192);
    --default-color-dark: rgb(28, 114, 126);
}
* {
    box-sizing: border-box; /* usar o box-sizing para o padding e o border-radius funcionarem */
    outline: 0; /* remove o outline do elemento */
}
body {
    margin: 0px;
    padding: 0px;
    background: var(--default-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.3;
}
.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}
form label, form input, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 18px;
}
form label {
    font-size: 14px;
}
form input {
    font-size: 18px;
    height: 50px;
    padding: 0 20px;
}
form input:focus {
    outline: 1px solid var(--default-color);
}
form button {
    border: none;
    background: var(--default-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}
form button:hover {
    background: var(--default-color-dark);
}
.resultado {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 18px;
}
.paragrafo-valido {
    background: rgb(109, 255, 182);
    padding: 10px 20px;
}
.paragrafo-invalido {
    background: rgb(240, 137, 119);
    padding: 10px 20px;
}